input {
  width: 100%;
}
#button-addon2:hover {
  margin-left: 10px;
    transition: 0.5s;
    font-size: 50px;

}

.pagination {
  text-align: center;
  font-size: 23px;
  align-items: center;
}

#inputSearch {
  font-weight: 800;
  width: 80%;
  font-size: 25px;
}
